* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(100deg, #ff7f55, #ff6410);
    font-family: 'Comic Sans MS';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    text-align: center;
    color: white;
    padding: 2em 0;
    background-color: #D32F2F;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

nav{
    text-align: center;
    background-color: #ffba4b;
    padding: 12px;
    font-weight: bold;
}

main{
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.main1{
    background-color: #bb4924;
}

.main2, .main3{
    background-color: #272424;
}

footer{
    color: white;
    text-align: center;
    padding: 2em 0;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
}

nav a{
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
}

nav a:hover{
    color: #fff;
    text-decoration: underline;
}

.main1 h1{
    color: red;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px  2px 0 #000, 2px  2px 0 #000;
}

.main2 h2{
    color: #999999;
    margin-top: 0;
    border-bottom: 2px solid #8a8a8a;
    padding-bottom: 10px;
}

.main2 h3 a{
    color: #ff7b00;
    text-decoration: none;
}

.main2 h3 a:hover{
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.main2 table th {
    background-color: #e46b00;
    color: white;
}

.main2 table tr{
    background-color: #2f2f2f;
}

.main2 table tr:nth-child(even) {
    background-color: #5f5f5f;
}

.main2 table tr:hover{
    background-color: #ffffff;
    color: black;
}

table a{
    color: #ff7b00;
    font-style: italic;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
}

table a:hover {
    text-decoration: underline;
    text-shadow: none;
}

.main3 table th {
    background-color: #7e7e7e;
    color: white;
}

.main3 table tr{
    background-color: #1a1a1a;
}

footer h3, h4{
    font-size: 20px;
}

footer a{
    color: rgb(40, 40, 40);
    text-decoration: none;
}