* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(100deg, #1d1d1d, #656565);
    font-family: 'Comic Sans MS';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    text-align: center;
}

main img{
    position: relative;
    background-color: #000;
    cursor: pointer;
    top: 109px;
    width: 1024px;
    height: 768px;
}