* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(100deg, #51ac3a, #08960f);
    font-family: 'Comic Sans MS';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    text-align: center;
    color: white;
    padding: 1em 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    font-size: 2em;
    background-color: #37dd53;
}

header p{
    font-size: 20px;
}

.nav{
    text-align: center;
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    background-color: #58ff74;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    position: fixed;
    border: 3px solid black; /* Adds a black border around the table */
    opacity: 0; /* Make the image invisible */
    transition: opacity 0.5s ease; /* Add a transition effect for smooth visibility change */
}

.nav:hover{
    opacity: 1;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
}

.nav a:hover{
    color: #fff;
    text-shadow: 2px 2px 8px #06ff30;
}

.tab{
    position: fixed; /* Ensure the container is fixed */
    right: 0; /* Align to the right */
    display: flex; /* Use flexbox for horizontal alignment */
}

.reset, .return{
    background-color: #58ff74;
    padding: 10px;
    border: 3px solid black;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.reset:hover, .return:hover{
    opacity: 1;
}

main{
    text-align: center;
    color: white;
    padding: 2em;
}

main h1{
    font-size: 50px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    padding: 20px;
}

main p{
    font-size: 20px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.warning{
    text-align: center;
}

.warning h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(23, 192, 74);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.warning h2, .warning h3{
    background-color: #007914;
    padding: 20px;
    max-width: 1000px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.warning h2{
    color: red;
    font-size: 50px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px  2px 0 #000, 2px  2px 0 #000;
}

.warning h3{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.biblioteka, .biblioteka1{
    text-align: center;
}

.biblioteka h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(23, 192, 74);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.biblioteka1{
    background-color: #272424;
    color: white;
    padding: 70px;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 5px solid black;
}

.biblioteka1 a{
    font-weight: bold;
    font-size: 40px;
    color: #49c245;
    font-style: italic;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgb(128, 128, 128);
    padding: 20px;
    background-color: gray;
    border: 5px solid black;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.biblioteka1 a:hover{
    color: #78f074;
}

.galeria{
    text-align: center;
}

.galeria h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(23, 192, 74);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.galeria table{
    background-color: #00692c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 3px solid black; /* Adds a black border around the table */
    margin: 20px auto; /* Centers the table horizontally */
}

.galeria table th, .galeria table td {
    border: 2px solid #000000;
    padding: 10px;
}

.galeria table tr{
    background-color: #272424;
}

.galeria .obrazy td:hover{
    background-color: #9c9c9c;
}

.faq{
    text-align: center;
}

.faq h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(23, 192, 74);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.faq table{
    color: white;
    background-color: #5c9bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 3px solid black; /* Adds a black border around the table */
    margin: 20px auto; /* Centers the table horizontally */
    max-width: 1200px;
}

.faq table th, .faq table td {
    border: 3px solid #000000;
    padding: 10px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.faq table th{
    font-size: 30px;
    background-color: #4c4c4c;
}

.faq table tr{
    font-size: 20px;
    background-color: #2c2c2c;
}

.faq table tr:nth-child(even) {
    background-color: #3c3c3c;
}

.faq a{
    color: rgb(0, 187, 255);
}

.info {
    text-align: center;
}

.info0 {
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(23, 192, 74);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.info1 {
    background-color: #00ff55;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    border: 3px solid #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.info1 h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    font-size: 30px;
}

.info1 h2{
    color: #8cff9f;
    border-bottom: 3px solid #8cff9f;
    padding-bottom: 10px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    font-size: 40px;
}

.info2{
    margin: 30px auto;
}

.info2 img{
    border: 5px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

footer{
    background-color: rgb(23, 192, 74);
}

.basic{
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.basic h1{
    font-size: 20px;
}

.secret {
    position: relative;
    height: 50px;
}

.secret input {
    font-family: 'Consolas';
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    width: 150px;
    border: 2px solid black; /* Adds a black border around the table */
}

.secret input[type=number]::-webkit-inner-spin-button, .secret input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.secret:hover input {
    opacity: 1;
    visibility: visible;
}

.image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack the h1, img, and h2 vertically */
    z-index: 1000;
    color: white;
}

.image-viewer h1 {
    font-family: 'Serif';
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

.image-viewer img {
    max-width: 1900px;
    max-height: 700px;
    width: auto;
    height: auto;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 5px solid black; /* Adds a black border around the table */
}

.image-viewer h2 {
    font-family: 'Serif';
    font-size: 20px;
    margin-top: 5px;
    color: white;
}

.image-viewer h3 {
    font-family: 'Serif';
    font-size: 15px;
    margin-top: 5px;
    color: gold;
}

.darkened {
    filter: brightness(0.3);
    pointer-events: none;
}