body{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Comic Sans MS';
}

header{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #D32F2F;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

nav{
    text-align: center;
    background-color: #ffba4b;
    padding: 12px;
    text-align: center;
    font-weight: bold;
}

main{
    text-align: center;
    color: white;
    padding: 10px;
}

footer{
    text-align: left;
    color: white;
    padding: 10px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
}

nav a{
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
}

nav a:hover{
    color: #fff;
}