* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(100deg, #ff7f55, #ff6410);
    font-family: 'Comic Sans MS';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    text-align: center;
    color: white;
    padding: 1em 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    font-size: 2em;
    background-color: #D32F2F;
}

header p{
    font-size: 20px;
}

.nav{
    text-align: center;
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    background-color: rgb(255, 99, 99);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    position: fixed;
    border: 3px solid black; /* Adds a black border around the table */
    opacity: 0; /* Make the image invisible */
    transition: opacity 0.5s ease; /* Add a transition effect for smooth visibility change */
}

.nav:hover{
    opacity: 1;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
}

.nav a:hover{
    color: #fff;
    text-shadow: 2px 2px 8px rgb(255, 116, 116);
}

.tab{
    position: fixed; /* Ensure the container is fixed */
    right: 0; /* Align to the right */
    display: flex; /* Use flexbox for horizontal alignment */
}

.reset, .return{
    background-color: rgb(255, 99, 99);
    padding: 10px;
    border: 3px solid black;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.reset:hover, .return:hover{
    opacity: 1;
}

main{
    text-align: center;
    color: white;
    padding: 2em;
}

main h1{
    font-size: 50px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    padding: 20px;
}

main p{
    font-size: 20px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.warning{
    text-align: center;
}

.warning h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(255, 140, 58);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.warning h2, .warning h3{
    background-color: #bb4924;
    padding: 20px;
    max-width: 1000px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.warning h2{
    color: red;
    font-size: 50px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px  2px 0 #000, 2px  2px 0 #000;
}

.warning h3{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.biblioteka, .biblioteka1{
    text-align: center;
}

.biblioteka h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(255, 140, 58);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.biblioteka1{
    background-color: #272424;
    color: white;
    padding: 10px;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.biblioteka1 h1{
    font-size: 40px;
    margin: 20px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.biblioteka1 h2{
    color: #999999;
    border-bottom: 2px solid #8a8a8a;
    padding-bottom: 10px;
}

.biblioteka1 h3{
    padding: 5px;
}

.biblioteka1 h3 a{
    color: #ff7b00;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.biblioteka1 h3 a:hover{
    text-decoration: underline;
}

.biblioteka1 table{
    background-color: #272424;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 3px solid black; /* Adds a black border around the table */
    margin: 10px auto; /* Centers the table horizontally */
}

.biblioteka1 table th, .biblioteka1 table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.biblioteka1 table th {
    background-color: #e46b00;
    font-size: 18px;
    color: white;
}

.biblioteka1 table tr{
    background-color: #2f2f2f;
    font-size: 25px;
}

.biblioteka1 table tr:nth-child(even) {
    background-color: #5f5f5f;
}

.biblioteka1 table tr:hover{
    background-color: #dadada;
    color: black;
}

.biblioteka1 table a{
    font-weight: bold;
    color: #ff7b00;
    font-style: italic;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgb(128, 128, 128);
}

.biblioteka1 table a:hover {
    font-weight: bold;
    color: #ff0000;
    font-style: italic;
    text-decoration: none;
}

.brak {
    font-weight: bold;
    color: rgb(255, 72, 72);
    text-shadow: 2px 2px 8px rgb(128, 128, 128);
}

.coming {
    font-weight: bold;
    color: rgb(107, 255, 77);
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.galeria{
    text-align: center;
}

.galeria h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(255, 140, 58);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.galeria table{
    background-color: #b52b2b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 3px solid black; /* Adds a black border around the table */
    margin: 20px auto; /* Centers the table horizontally */
}

.galeria table th, .galeria table td {
    border: 2px solid #000000;
    padding: 10px;
}

.galeria table tr{
    background-color: #272424;
}

.galeria table td:hover{
    background-color: #9c9c9c;
}

.faq{
    text-align: center;
}

.faq h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(255, 140, 58);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.faq table{
    color: white;
    background-color: #5c9bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 3px solid black; /* Adds a black border around the table */
    margin: 20px auto; /* Centers the table horizontally */
    max-width: 1200px;
}

.faq table th, .faq table td {
    border: 3px solid #000000;
    padding: 10px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.faq table th{
    font-size: 30px;
    background-color: #4c4c4c;
}

.faq table tr{
    font-size: 20px;
    background-color: #2c2c2c;
}

.faq table tr:nth-child(even) {
    background-color: #3c3c3c;
}

.faq a{
    color: rgb(0, 187, 255);
}

.info {
    text-align: center;
}

.info0 {
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: rgb(255, 140, 58);
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.info1 {
    background-color: #ff5922;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    border: 3px solid #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.info1 h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    font-size: 30px;
}

.info1 h2{
    color: #ffcb11;
    border-bottom: 3px solid #ffcb11;
    padding-bottom: 10px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    font-size: 40px;
}

.info2 {
    background-color: #ff5922;
    padding: 20px;
    max-width: 600px;
    margin: 30px auto;
    border: 3px solid #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.info2 h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    font-size: 30px;
}

.info2 h2{
    color: #ffcb11;
    border-bottom: 3px solid #ffcb11;
    padding-bottom: 10px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    font-size: 40px;
}

.info3 {
    background: linear-gradient(100deg, #333030, #272424);
    padding: 30px;
    max-width: 1200px;
    margin: 30px auto;
    border: 3px solid #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.info3 h1{
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    font-size: 40px;
}

.info3 table{
    color: white;
    background-color: #44d81f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 3px solid black; /* Adds a black border around the table */
    margin: 20px auto; /* Centers the table horizontally */
}

.info3 table th, .info3 table td {
    border: 3px solid #000000;
    padding: 10px;
}

.info3 table th{
    font-size: 20px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: #4c4c4c;
}

.info3 table tr{
    background-color: #161616;
}

.info3 table td{
    padding: 20px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(158, 158, 158);
}

.stan-produkcji{
    color: rgb(3, 255, 3);
    /* Aktywny - color: rgb(3, 255, 3); */
}

.info4 {
    background-color: #bb4924;
    padding: 30px;
    max-width: 400px;
    margin: 30px auto;
    border: 3px solid #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    color: white;
}

.info4 h1{
    font-size: 30px;
}

.info4 table{
    background-color: #000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border: 3px solid rgb(255, 255, 255); /* Adds a black border around the table */
    margin: 20px auto; /* Centers the table horizontally */
}

.info4 table td {
    border: 3px solid #ffffff;
    background-color: #2f2f2f;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.info5 h1, .info5 h2{
    background-color: #bb4924;
    padding: 20px;
    max-width: 1000px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.info5 h1{
    color: rgb(76, 133, 255);
    font-size: 50px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px  2px 0 #000, 2px  2px 0 #000;
}

.info5 h2{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

footer{
    background-color: rgb(235, 141, 68);
}

.basic{
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.basic h1{
    font-size: 20px;
}

.secret {
    opacity: 0; /* Make the image invisible */
    transition: opacity 0.5s ease; /* Add a transition effect for smooth visibility change */
}

.secret:hover {
    opacity: 1; /* Make the image visible when hovered */
}

.image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack the h1, img, and h2 vertically */
    z-index: 1000;
    color: white;
}

.image-viewer h1 {
    font-family: 'Serif';
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

.image-viewer img {
    max-width: 1900px;
    max-height: 700px;
    width: auto;
    height: auto;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 5px solid black; /* Adds a black border around the table */
}

.image-viewer h2 {
    font-family: 'Serif';
    font-size: 20px;
    margin-top: 5px;
    color: white;
}

.image-viewer h3 {
    font-family: 'Serif';
    font-size: 15px;
    margin-top: 5px;
    color: gold;
}

.darkened {
    filter: brightness(0.3);
    pointer-events: none;
}
