/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'OCR A Std', monospace;
    background: linear-gradient(100deg, #141414, #3a3a3a);
    color: white;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styling */
header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 50px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    margin-bottom: 10px;
}

header h2 {
    font-size: 1.5em;
    color: orange;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    margin-bottom: 5px;
}

header h3 {
    font-size: 1.2em;
    color: #aaa;
    border-bottom: 2px solid #8a8a8a;
    padding-bottom: 10px;
}

.choosing{
    padding: 20px;
    text-align: center;
    background-color: #3a3a3a;
    border: 5px solid black; /* Adds a black border around the table */
}

.choosing h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    color: white;
}

#left{
    max-width: 45%;
    margin: 25px;
    float: left;
}

#right{
    max-width: 45%;
    margin: 25px;
    float: right;
}

select {
    background-color: #cacaca;
    font-family: 'OCR A Std', monospace;
    width: 100%;
    padding: 10px;
    border: 4px solid #000000;
    border-radius: 5px;
}

#character-id, #character-form, #character-skill, #character-id-right, #character-form-right, #character-skill-right{
    font-size: 20px;
    font-family: 'OCR A Std', monospace;
    background-color: white;
}

#finalpowerlevel, #finalpowerlevel-right{
    color: gold;
    font-size: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

section{
    text-align: center;
    clear: both;
}

button {
    background: #ff9900; /* Bright orange */
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for 3D effect */
}

button:hover {
    background: #cc7a00; /* Darker orange */
    transform: scale(1.05); /* Slightly enlarge the button */
}

aside{
    margin: 20px auto;
}

.health-bar {
    width: 60%;
    height: 50px;
    margin: 0 auto;
    background-color: #ccc; /* Grey background as a base */
    border: 5px solid black; /* Adds a black border around the table */
    position: relative; /* Positioning for child elements */
    display: flex; /* Flexbox for alignment */
    justify-content: space-between; /* Make sure bars don't overlap */
}

.leftbar, .rightbar {
    height: 100%; /* Ensure bars fill the height of the container */
    position: relative;
}

.leftbar {
    background-color: blue;
    border: 5px solid black; /* Adds a black border around the table */
}

.rightbar {
    border: 5px solid black; /* Adds a black border around the table */
    background-color: red;
}
