html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    transition: background-color 1s ease; /* Płynne przejście tła */
}

.obraz img {
    max-height: 600px;
    width: auto;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 2s ease, transform 3s ease-in-out; /* Przejście dla pojawienia */
    border: 3px solid black; /* Dodaje czarną ramkę */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    user-select: none; /* Uniemożliwia zaznaczanie obrazu */
    pointer-events: none; /* Blokuje interakcje z obrazem */
}

.obraz img.fade-in {
    opacity: 1;
}

.obraz img.resize {
    animation: resize 3s ease-in-out infinite alternate; /* Animacja zmiany rozmiaru */
}

.obrazy {
    display: flex;
    justify-content: space-between;
    position: absolute; /* Umożliwia umiejscowienie obrazów po bokach */
    width: 100%;
    max-height: 400px; /* Maksymalna wysokość obrazów z klasy 'obrazy' */
}

.obrazy img {
    max-height: 400px; /* Maksymalna wysokość dla obrazów w klasie 'obrazy' */
    opacity: 0;
    transition: opacity 2s ease; /* Przejście dla pojawienia */
    border: 3px solid black; /* Dodaje czarną ramkę */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 0 100px; /* Marginesy po bokach obrazów */
}

.obrazy img.fade-in {
    opacity: 1;
}

.obrazy img.rotate {
    animation: rotate 10s linear infinite; /* Animacja obrotu */
}

@keyframes resize {
    from {
        max-height: 600px;
        transform: scale(1); /* Początkowa skala */
    }
    to {
        max-height: 600px;
        transform: scale(1.1); /* Końcowa skala */
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

audio {
    display: none;
}

/* Początkowe czarne tło */
body {
    background-color: black;
    cursor: none;
}

/* Przejście z czarnego tła do zmieniających się kolorów */
body.fade-out {
    background-color: white;
    transition: background-color 1s ease; /* Czas trwania przejścia */
}
