* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* */

header {
    background-color: rgb(218, 110, 110);
    height: 20vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-logo, .header-info {
    text-align: center;
}

.header-logo {
    margin-bottom: 1px;
}

.header-logo h1 {
    font-family: 'Comic Sans MS';
    font-size: 70px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    color: white;
    line-height: 1;
}

.header-info h2 {
    font-family: 'Comic Sans MS';
    font-size: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    color: white;
}

.header-logo, .header-info {
    margin: 0;
}

.header-logo h1, .header-info h2 {
    margin: 0;
}

.header-theme {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.8;
    z-index: 0;
}

.header-theme img {
    height: 100%;
}

/* */

section {
    display: flex;
    height: 70vh;
    width: 100%;
}

/* */

nav {
    background-color: rgb(212, 59, 59);
    width: 20%;
    height: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nav-title h1 {
    background-color: #820000;
    font-family: 'Comic Sans MS';
    font-size: 36px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
    align-items: flex-end;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.nav-list{
    overflow-y: auto;
    scrollbar-width: none;
}

.nav-list ul {
    width: 100%;
    padding: 0;
    align-items: flex-end;
    list-style-type: none;
}

.nav-list-topic {
    font-weight: bold;
    border-bottom: 2px solid black;
}

nav ul > li {
    background-color: rgb(212, 59, 59);
    font-family: 'Courier New';
    font-size: 18px;
    text-align: left;
    color: white;
    padding: 8px;
    transition: background-color 0.3s ease-in-out;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.nav-list ul ul li {
    background-color: rgb(212, 59, 59);
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.nav-list ul ul li:hover {
    background-color: #820000;
}

.nav-list a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.nav-list a:hover {
    color: yellow;
}

/* */

main {
    background: linear-gradient(100deg, #820000, #ff4848);
    width: 80%;
    height: 100%;
    border: 3px solid black;
    position: relative;
    padding: 10px;
}

main > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

main > div.active {
    opacity: 1;
    visibility: visible;
}

#main-default {
    opacity: 1;
    visibility: visible;
}

/* */

footer {
    background-color: rgb(255, 150, 150);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    position: relative;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-text div {
    margin: 0 50px;
    text-align: center;
}

.footer-text h1{
    font-family: 'Comic Sans MS';
    color: black;
}

.footer-text p{
    font-family: 'Courier New';
    font-weight: bold;
}

.footer-text a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.footer-autor {
    margin: 0 50px;
}

.footer-opis a{
    text-decoration: none;
    color: rgb(32, 32, 32);
}