html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: black;
}

main img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

main img.fade-in {
    opacity: 1;
}

audio {
    display: none;
}

body {
    cursor: none;
}
